<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1/calcultorservice/meta" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings />
        <services>
            <service name="Server.CalculatorService">
                <endpoint address="http://127.0.0.1/calculatorservice" binding="basicHttpBinding"
                    bindingConfiguration="" contract="Server.ICalculator" />
            </service>
        </services>
    </system.serviceModel>
</configuration>